.alsia-navbar {
    /* position: fixed; TODO : style à revoir, sortir le style de App.css aussi */
    display: flex;
    align-items: center;
    width: 100%;
    background-color: white;
    box-shadow: 0 1px 3px #d3d3d3;
}

.alsia-navbar-logo {
    height: 80px;
}

.alsia-navbar-search-bar {
    text-align: center;
    width: 100%;
}

.alsia-navbar-user {
    height: 40px;
    margin-right: 20px;
}